* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  padding: 10px;
}

.item {
  background-color: lightblue;
  color: white;
  padding: 30px;
  margin: 30px;
  font-size: 40px;
}

.item-2 {
  height: 200px;
}

.item-4 {
  font-size: 70px;
}
