* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: royalblue;
  padding: 10px;
 /* height: 1500px; */
}

.item {
  /* flex: 1; */
  background-color: lightblue;
  color: white;
  padding: 30px;
  margin: 30px;
  font-size: 40px;
}

.item-2 {
  height: 200px;
  flex-basis: 300px;
}

.item-3 {
  order: 1;
  flex: 1;
}

.item-4 {
  align-self: flex-end;
  order: -1;
}
